.client, .outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.worker, .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;;
}

.title {
    padding: 20px;
    font-size: 28px;
    text-align: start;
}