.wrapper {
    display: flex;
    flex-wrap: wrap;

    background: #DCD7D7;
    padding: 20px;
}

.productEl {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;

    border: 1px solid black;
    border-radius: 4px;

    padding: 10px;
    margin: 10px;

    background: white;

    overflow: hidden;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1
}

.image {
    height: 180px;
    flex: 4;
}